<?xml version="1.0"?>
<!--
/**
 * integer_net GmbH Magento Module
 *
 * @package    IntegerNet_Varnish
 * @copyright  Copyright (c) 2015 integer_net GmbH (http://www.integer-net.de/)
 * @author     integer_net GmbH <info@integer-net.de>
 * @author     Viktor Franz <vf@integer-net.de>
 */
-->
<config>
    <modules>
        <IntegerNet_Varnish>
            <version>1.0.0</version>
        </IntegerNet_Varnish>
    </modules>
    <global>
        <helpers>
            <integernet_varnish>
                <class>IntegerNet_Varnish_Helper</class>
            </integernet_varnish>
        </helpers>
        <blocks>
            <integernet_varnish>
                <class>IntegerNet_Varnish_Block</class>
            </integernet_varnish>
            <core>
                <rewrite>
                    <messages>IntegerNet_Varnish_Block_Rewrite_Core_Messages</messages>
                </rewrite>
            </core>
        </blocks>
        <models>
            <integernet_varnish>
                <class>IntegerNet_Varnish_Model</class>
                <resourceModel>integernet_varnish_resource</resourceModel>
            </integernet_varnish>
            <integernet_varnish_resource>
                <class>IntegerNet_Varnish_Model_Resource</class>
                <entities>
                    <index>
                        <table>integernet_varnish_index</table>
                    </index>
                </entities>
            </integernet_varnish_resource>
            <enterprise_catalog>
                <rewrite>
                    <urlrewrite_matcher_category>IntegerNet_Varnish_Model_Urlrewrite_Matcher_Category</urlrewrite_matcher_category>
                    <urlrewrite_matcher_product>IntegerNet_Varnish_Model_Urlrewrite_Matcher_Product</urlrewrite_matcher_product>
                </rewrite>
            </enterprise_catalog>
        </models>
        <resources>
            <integernet_varnish_setup>
                <setup>
                    <module>IntegerNet_Varnish</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </integernet_varnish_setup>
        </resources>
        <events>
            <model_save_after>
                <observers>
                    <integernet_varnish>
                        <class>integernet_varnish/observer</class>
                        <method>resourceChange</method>
                    </integernet_varnish>
                </observers>
            </model_save_after>
            <model_delete_before>
                <observers>
                    <integernet_varnish>
                        <class>integernet_varnish/observer</class>
                        <method>resourceChange</method>
                    </integernet_varnish>
                </observers>
            </model_delete_before>
        </events>
        <integernet_varnish>
            <invalidate>
                <response>
                    <checkout>integernet_varnish/invalidate_response_checkout</checkout>
                    <compare>integernet_varnish/invalidate_response_compare</compare>
                    <currency>integernet_varnish/invalidate_response_currency</currency>
                    <customer>integernet_varnish/invalidate_response_customer</customer>
                    <message>integernet_varnish/invalidate_response_message</message>
                    <poll>integernet_varnish/invalidate_response_poll</poll>
                    <recently_compared>integernet_varnish/invalidate_response_recentlyCompared</recently_compared>
                    <recently_viewed>integernet_varnish/invalidate_response_recentlyViewed</recently_viewed>
                    <store>integernet_varnish/invalidate_response_store</store>
                    <category>integernet_varnish/invalidate_response_category</category>
                </response>
                <resource>
                    <product>integernet_varnish/invalidate_resource_product</product>
                    <stock>integernet_varnish/invalidate_resource_stock</stock>
                    <category>integernet_varnish/invalidate_resource_category</category>
                    <cms>integernet_varnish/invalidate_resource_cms</cms>
                </resource>
            </invalidate>
        </integernet_varnish>
        <ignore_user_agents>
            <varnish1>varnish_build</varnish1>
        </ignore_user_agents>
        <external_cache>
            <controls>
                <integernet_varnish translate="label" module="integernet_varnish">
                    <label>Varnish by IntegerNet Module</label>
                    <class>integernet_varnish/control_varnish</class>
                </integernet_varnish>
            </controls>
        </external_cache>
    </global>
    <crontab>
        <jobs>
            <integernet_varnish_index_build>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>integernet_varnish/index_build::build</model>
                </run>
            </integernet_varnish_index_build>
            <integernet_varnish_index_purge>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>integernet_varnish/index_purge::purgeSchedule</model>
                </run>
            </integernet_varnish_index_purge>
        </jobs>
    </crontab>
    <adminhtml>
        <layout>
            <updates>
                <integernet_varnish>
                    <file>integernet_varnish.xml</file>
                </integernet_varnish>
            </updates>
        </layout>
        <translate>
            <modules>
                <IntegerNet_Varnish>
                    <files>
                        <default>IntegerNet_Varnish.csv</default>
                    </files>
                </IntegerNet_Varnish>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <integernet_varnish before="Mage_Adminhtml">IntegerNet_Varnish_Adminhtml</integernet_varnish>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <integernet_varnish>
                    <file>integernet_varnish.xml</file>
                </integernet_varnish>
            </updates>
        </layout>
        <routers>
            <integernet_varnish>
                <use>standard</use>
                <args>
                    <module>IntegerNet_Varnish</module>
                    <frontName>integernetvarnish</frontName>
                </args>
            </integernet_varnish>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <pagecache>
                        <type>disabled</type>
                    </pagecache>
                    <integernet_varnish>
                        <class>integernet_varnish/observer</class>
                        <method>controllerActionPredispatch</method>
                    </integernet_varnish>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <integernet_varnish>
                        <class>integernet_varnish/observer</class>
                        <method>controllerActionPostdispatch</method>
                    </integernet_varnish>
                </observers>
            </controller_action_postdispatch>
            <core_block_abstract_to_html_after>
                <observers>
                    <integernet_varnish>
                        <class>integernet_varnish/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </integernet_varnish>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <default>
        <system>
            <external_page_cache>
                <integernet_varnish_headers_add>a:2:{s:29:"_varnish_header_cache_control";a:2:{s:6:"header";s:13:"Cache-Control";s:5:"value";s:20:"max-age={{lifetime}}";}s:23:"_varnish_header_expires";a:2:{s:6:"header";s:7:"Expires";s:5:"value";s:8:"{{date}}";}}</integernet_varnish_headers_add>
                <integernet_varnish_headers_remove>a:2:{s:26:"_varnish_header_set_cookie";a:1:{s:6:"header";s:10:"Set-Cookie";}s:22:"_varnish_header_pragma";a:1:{s:6:"header";s:6:"Pragma";}}</integernet_varnish_headers_remove>
                <integernet_varnish_cache_routes>a:3:{s:18:"_1380016309113_113";a:2:{s:5:"route";s:7:"cms/*/*";s:8:"lifetime";s:5:"86400";}s:18:"_1380795552806_806";a:2:{s:5:"route";s:20:"catalog/product/view";s:8:"lifetime";s:5:"86400";}s:18:"_1380795553675_675";a:2:{s:5:"route";s:21:"catalog/category/view";s:8:"lifetime";s:5:"86400";}}</integernet_varnish_cache_routes>
                <integernet_varnish_inject_form_key_routes>a:1:{s:18:"_1399473970389_389";a:1:{s:5:"route";s:15:"checkout/cart/*";}}</integernet_varnish_inject_form_key_routes>
                <integernet_varnish_bypass_states>currency,store</integernet_varnish_bypass_states>
                <integernet_varnish_disqualified_states>checkout,compare,currency,customer,message,poll,recently_compared,recently_viewed,store</integernet_varnish_disqualified_states>
                <integernet_varnish_allowed_params>a:2:{s:18:"_1410510558247_247";a:1:{s:5:"param";s:1:"p";}s:18:"_1410510699158_158";a:1:{s:5:"param";s:5:"limit";}}</integernet_varnish_allowed_params>
                <integernet_varnish_https_allowed>0</integernet_varnish_https_allowed>
                <integernet_varnish_dynamic_block>1</integernet_varnish_dynamic_block>
                <integernet_varnish_dynamic_blocks>a:8:{s:18:"_1381778519126_126";a:3:{s:4:"name";s:9:"top.links";s:4:"type";s:0:"";s:8:"template";s:0:"";}s:18:"_1381778543629_629";a:3:{s:4:"name";s:12:"cart_sidebar";s:4:"type";s:0:"";s:8:"template";s:0:"";}s:18:"_1381778544485_485";a:3:{s:4:"name";s:28:"right.reports.product.viewed";s:4:"type";s:0:"";s:8:"template";s:0:"";}s:18:"_1381778545157_157";a:3:{s:4:"name";s:30:"right.reports.product.compared";s:4:"type";s:0:"";s:8:"template";s:0:"";}s:18:"_1381778545771_771";a:3:{s:4:"name";s:23:"catalog.compare.sidebar";s:4:"type";s:0:"";s:8:"template";s:0:"";}s:18:"_1381778546551_551";a:3:{s:4:"name";s:15:"global_messages";s:4:"type";s:0:"";s:8:"template";s:0:"";}s:18:"_1381778585877_877";a:3:{s:4:"name";s:8:"messages";s:4:"type";s:0:"";s:8:"template";s:0:"";}s:18:"_1381778592658_658";a:3:{s:4:"name";s:10:"right.poll";s:4:"type";s:0:"";s:8:"template";s:0:"";}}</integernet_varnish_dynamic_blocks>
                <integernet_varnish_dynamic_block_js/>
                <integernet_varnish_purge_server><![CDATA[127.0.0.1]]></integernet_varnish_purge_server>
                <integernet_varnish_purge_port><![CDATA[80]]></integernet_varnish_purge_port>
                <integernet_varnish_purge_url><![CDATA[/*]]></integernet_varnish_purge_url>
                <integernet_varnish_purge_size>100</integernet_varnish_purge_size>
                <integernet_varnish_build>0</integernet_varnish_build>
                <integernet_varnish_build_timeout>10</integernet_varnish_build_timeout>
                <integernet_varnish_build_shell_limit>1000</integernet_varnish_build_shell_limit>
                <integernet_varnish_build_php_limit>100</integernet_varnish_build_php_limit>
                <integernet_varnish_build_php_timeout>120</integernet_varnish_build_php_timeout>
                <integernet_varnish_build_user_agent>IntegerNet_Varnish_Build</integernet_varnish_build_user_agent>
                <integernet_varnish_debug_mode>1</integernet_varnish_debug_mode>
            </external_page_cache>
        </system>
    </default>
</config>