<?xml version="1.0"?>
<!--
/**
 * integer_net Magento Module
 *
 * @category IntegerNet
 * @package IntegerNet_<Module>
 * @copyright  Copyright (c) 2012-2013 integer_net GmbH (http://www.integer-net.de/)
 * @author Viktor Franz <vf@integer-net.de>
 */

/**
 * Enter description here ...
 */
-->
<config>
    <sections>
        <system>
            <groups>
                <integernet_varnish translate="label">
                    <label>Varnish Full Page Cache Settings (IntegerNet_Varnish)</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>1000</sort_order>
                    <fields>
                        <enable translate="label comment">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable>
                        <cache_routes translate="label comment">
                            <label>Cache Routes</label>
                            <frontend_model>integernet_varnish/system_config_form_field_route</frontend_model>
                            <backend_model>integernet_varnish/system_config_backend_route</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enable>1</enable></depends>
                        </cache_routes>
                        <hole_punching translate="label comment">
                            <label>Hole Punching</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enable>1</enable></depends>
                        </hole_punching>
                        <hole_blocks translate="label comment">
                            <label>Dynamic Blocks</label>
                            <frontend_model>integernet_varnish/system_config_form_field_block</frontend_model>
                            <backend_model>integernet_varnish/system_config_backend_block</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enable>1</enable></depends>
                        </hole_blocks>
                        <disqualified_states translate="label comment">
                            <label>Disqualified States</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>integernet_varnish/system_config_source_invalidate</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <depends><enable>1</enable></depends>
                        </disqualified_states>
                        <disqualified_params translate="label comment">
                            <label>Disqualified Params</label>
                            <frontend_model>integernet_varnish/system_config_form_field_param</frontend_model>
                            <backend_model>integernet_varnish/system_config_backend_param</backend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enable>1</enable></depends>
                        </disqualified_params>
                        <bypass_states translate="label comment">
                            <label>Cache Bypass Request</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>integernet_varnish/system_config_source_invalidate</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <depends><enable>1</enable></depends>
                        </bypass_states>
                        <purge_server translate="label comment">
                            <label>Purge Server</label>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enable>1</enable></depends>
                        </purge_server>
                        <purge_url translate="label comment">
                            <label>Purge URL</label>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enable>1</enable></depends>
                        </purge_url>
                        <debug_mode translate="label comment">
                            <label>Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enable>1</enable></depends>
                        </debug_mode>
                    </fields>
                </integernet_varnish>
            </groups>
        </system>
    </sections>
</config>
